body{
    font-family: Sans-Serif;
    margin: 0;
    padding: 20px;
    margin-top: 60px;
    background-color: wheat;
  }
  h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  form{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  
  input[type="firstname"],
  input[type="lastname"],
  input[type="username"],
  input[type="email"],
  input[type="password"],
  input[type="number"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  input[type="submit"]{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover{
    background-color: #0069d9;
  }
  
  